body,
button,
input,
select,
textarea {
	font-family: $font__sans;
	color: rgba(0,0,0,.8);
	@include font-size(0.8);
	line-height: $font__line-height-body;

	@media screen and (min-width: 700px) {
		@include font-size(.9);
	}
}

@import "headings";

@import "copy";