li:focus,
a:focus,
button:focus {
	outline: 0;
}

//site
.site-content {
	margin: 0 auto;
	padding-top: 75px;
}

.home .site-content {
	padding: 0;
}

/* Single posts */
@media screen and (min-width: $query__medium) {
	.single.has-sidebar,
	.page {

		.hentry {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-bottom: 0;

			.entry-header {
				width: 100%;
				flex: 1 0 100%;
				text-align: center;
				margin-top: 0.5em;
			}

			.post-content {
				width: 100%;
			}

			.widget-area {
				width: $size__ratio-small;
			}
		}

	}

	.page {
		&.has-page-sidebar {
			.hentry {
				flex-direction: row-reverse;
			}
		}
		&:not(.has-page-sidebar) {
			.hentry {
				justify-content: flex-end;
			}
		}
	}
}


@media screen and (min-width: $query__medium) {
	.single {
		&.no-sidebar {

			.post-content__wrap {
				display: flex;
				justify-content: space-between;

				.entry-meta {
					width: 20%;
				}

				.post-content__body {
					width: 70%;
				}
			}

		}
	}
}

