//front page counter active styles navigation
.home .site-branding .custom-logo-black {
  display: none;
}

.home .site-header {
  border: 0;
}

//login color front page
.home .site-header .login-nav a {
  color: rgba( 255,255,255,.5 );
}

.home .site-header.bg-color .login-nav a {
  color: rgba( 0,0,0,.5 );

  &:hover,
  &:focus {
    color: rgb(62, 199, 62);
  }
}

.home .site-header {
  background-color: transparent;
}

.site-header {
  font-family: $font__sans;
  background-color: #fff;
  z-index: 2; 
  position: fixed; 
  width: 100%;
  display: flex;
  border-bottom: 1px solid rgb(230, 230, 230);

  .nav {
    width: 1080px;
    height: 75px;
    margin: 0 auto;
    display: flex;
    flex: 8;
    justify-content: space-around;
  }

  .login-nav {
    flex: 1;

    a {
      text-decoration: none;
      height: 100%;
      color: rgba( 0,0,0,.5 );
      display: flex;
      align-items: center;
      padding-top: 2px;
      border-bottom: 2px solid transparent;

      &:hover,
      &:focus {
        color: rgb(62, 199, 62);
      }
    }

    h3 {
      margin: 0;
      font-size: .95rem;
      font-weight: 400;
    }
  }

  // scroll event add bg
  &.bg-color {
    background: #fff;
    transition: background 0.5s linear;
    border-bottom: 1px solid rgb(230, 230, 230);

    .custom-logo {
      display: none;
    }

    .custom-logo-link .custom-logo-black {
      display: inline-block;
    }
  }
}

.site-branding {
   margin-top: auto;

  .custom-logo-link {
    display: inline-block;
    height: 55px;

    img {
      display: inline-block;
      height: 55px;
      width: auto;
    }
  }

  .custom-logo-black {
    display: inline-block;
  }
}

//change color front page mega menu text on scroll
.site .bg-color #mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item > a.mega-menu-link {
	color: #fff;

  &:hover,
  &:focus {
    color: #878787;
  }

  @media screen and (min-width: 785px) {
    color: #333;
  }
}

//mega menu full height
.site #mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item > a.mega-menu-link {
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff;
  border-bottom: 1px solid #555;

  @media screen and (min-width: 785px) {
    border: 0;
  }

  &:hover,
  &:focus {
    color: #878787;
  }

  &:after {
    position: absolute;
    right: 20px;
    display: inline-block;

    @media screen and (min-width: 785px) {
      display: none;
    }    
  }
}

//mega menu full height
.site #mega-menu-wrap-menu-2 #mega-menu-menu-2 > li.mega-menu-item > a.mega-menu-link {
  height: 100%;   
  display: flex;
  align-items: center;
  color: #fff;
  border-bottom: 1px solid #555;

  @media screen and (min-width: 785px) {
    color: #333;
    border: 0;
  }

  &:hover,
  &:focus {
    color: #878787;
  }

  &:after {
    position: absolute;
    right: 20px;
    display: inline-block;

    @media screen and (min-width: 785px) {
      display: none;
    } 
  }
}

//mega menu submenu border
#mega-menu-wrap-menu-1 #mega-menu-menu-1 .mega-sub-menu .mega-menu-item-216 {
  border: 0;

  @media screen and (min-width: 785px) {
    border-right: 1px solid #555;
  }
}

#mega-menu-wrap-menu-2 #mega-menu-menu-2 .mega-sub-menu .mega-menu-item-510 {
  border: 0;

  @media screen and (min-width: 785px) {
    border-right: 1px solid #555;
  }
}

// mega menu sub menu mobile spacing
#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item-216,
#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item-510 {
  padding: 0;

  @media screen and (min-width: 785px) {
    padding: 25px 0px 25px 0px;
  }
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item-217,
#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item-511 {
  padding-bottom: 0;

  @media screen and (min-width: 785px) {
    padding: 25px 0px 25px 0px;
  }
}


//mega menu sub menus underneath nav border
#mega-menu-wrap-menu-1,
#mega-menu-wrap-menu-2 {
	height: 100%;
  position: initial;

  @media screen and (min-width: 785px) {
    position: relative;
  }

  #mega-menu-menu-1,
  #mega-menu-menu-2 {
    height: auto;
    position: fixed;
    width: 100%;
    top: 75px;
    bottom: 0;
    left: 0;
    overflow-y: auto;

    @media screen and (min-width: 785px) {
      height: 100%;
      position: relative;
      width: auto;
      left: auto;
      top: auto;
      bottom: auto;
      overflow-y: unset;
    }

    > li.mega-menu-item {
      height: 40px;
      background: #333;

      @media screen and (min-width: 785px) {
        height: 100%;
        background: transparent;
      }      
    }
  }
}

/*
Header Menu
 */
@import "header-menu";