//Web Development Work
.development-intro {
    margin: 2em 0;
    text-align: center;
    padding: 0 1em;

    @media screen and (min-width: $query__small) {
        margin: 4em 0;
    }

    h3 {
        font-size: 1.5rem;

        @media screen and (min-width: $query__small) {
            font-size: 2.25rem;
        }
    }

    p {
        font-size: 1rem;

        @media screen and (min-width: $query__small) {
            font-size: 1.25rem;
        }
    }
}

.design-block {
    padding: 0 1em;
    margin: 0 0 2em;

    @media screen and (min-width: $query__small) {
        max-width: 1210px;
        margin: 0 auto 3em;
        column-count: 2;
        column-gap: 10px;
    }

    @media screen and (min-width: 1250px) {
        padding: 0;
    }

    .website {
        position: relative;
        display: block;

        @media screen and (min-width: $query__small) {
            display: inline-block;
            margin: 0 0 2px;
            width: 100%;
        }

        &:hover,
        &:focus {

            .website-link img {
                filter: brightness(100%)
            }

            .website-info {
                transform: translateY(-25px);
            }
        }

        .website-link {
            display: inline-block;

            img {
                display: block;
                filter: brightness(50%);
                transition: filter .25s ease-out;
            }
        }

        .website-info {
            position: absolute;
            left: 0;
            bottom: 10%;
            margin: 0 1em 0 1em;
            transition: transform .25s ease-out;

            @media screen and (min-width: $query__small) {
                margin: 0 1em 0 2em;
            }

            h5 {
                color: $color__site-green;
                margin: 0;
                font-weight: 400;
                font-size: 1.3rem;

                @media screen and (min-width: $query__small) {
                    font-size: 1.65rem;
                }
            }

            p {
                color: #fff;
                margin: 0;
            }
        }
    }
}

//Case Studies
.studies-block {
    margin: 2em 0;

    @media screen and (min-width: $query__small) {
        margin: 4em auto;
        max-width: 1200px;
    }

    .individual-case {
        display: block;

        @media screen and (min-width: $query__small) {
            display: flex;
        }

        .individual-content {
            width: 100%;
            padding: 0 1em;
            margin: 0 0 1em;

            @media screen and (min-width: $query__small) {
                padding: 0 2em;
                width: 50%;
                margin: 0;
            }

            .study-title {
                font-size: 1.25rem;
                font-weight: 700;
                color: rgba(0,0,0,.75);
                font-style: italic;

                 @media screen and (min-width: $query__small) {
                    font-size: 2.25rem;
                }
            }

            .study-description {
                font-size: .95rem;
                word-spacing: .01em;
                line-height: 1.6;
                color: #777;

                 @media screen and (min-width: $query__small) {
                    font-size: 1.1rem;
                }
            }

            .study-roles-text {
                font-weight: 700;
                color: rgba(0,0,0,.75);
                font-size: 1rem;

                @media screen and (min-width: $query__small) {
                    font-size: 1.25rem;
                }
            }

            .study-roles {
                font-size: 1rem;

                @media screen and (min-width: $query__small) {
                    font-size: 1.1rem;
                }
            }

            a {
                background: $color__site-green;
                display: inline-block;
                padding: 8px 20px;
                text-decoration: none;
                color: #fff;
                font-size: .8rem;
                font-family: $font__sans;
                border: 2px solid $color__site-green;
                transition: background .25s linear, border-color .25s linear;
                text-decoration: none;

                @media screen and (min-width: $query__small) {
                    padding: 12px 25px;
                    font-size: .9rem;
                }

                &:hover,
                &:focus {
                    background: transparent;
                    border-color: $color__site-green;
                    color: $color__site-green;
                }
            }
        }

        .individual-image {
            width: 100%;

            @media screen and (min-width: $query__small) {
                width: 50%;
            }

            img {
                display: block;
                margin: 0 auto;
            }
        }
    }
}

.case-study-achievements {
    display: block; 
    text-align: center;
    margin: 2em 1em;

    @media screen and (min-width: $query__small) {
        display: flex;
        justify-content: space-around;
        max-width: 1200px;
        margin: 4em auto;
    }

    .achievement {
        margin: 2em 0 0;

        @media screen and (min-width: $query__small) {
            margin: 0;
        }

        .achievement-stat {
            color: $color__site-green;
            font-size: 2rem;
            margin: 0;

            @media screen and (min-width: $query__small) {
                font-size: 2.5rem;
            }
        }

        .achievement-text {
            font-size: .9rem;
            margin: 0;
            font-weight: 700;
            color: rgba(0,0,0,.75);

            @media screen and (min-width: $query__small) {
                font-size: 1rem;
            }
        }
    }
}

.case-study-testimonials {
    background: #f7f7f7;
    padding: 3em 2em;

    @media screen and (min-width: $query__small) {
        padding: 3em 4em;
    }

    .testimonial-quote {
        max-width: 700px;
        margin: 0 auto;
        font-size: 1.1rem;
        padding: 0;
        position: relative;

        @media screen and (min-width: $query__small) {
            font-size: 1.5rem;
        }
    }

    .testimonial-byline {
        max-width: 700px;
        margin: 1em auto 0;
        display: flex;

        img {
            border-radius: 50%;
            margin-right: 1em;
        }

        .author-name {
            margin: .5em 0 0;
            color: rgba(0,0,0,.75);
            font-weight: 700;
        }

        .author-position {
            margin: .5em 0 0;
            font-style: italic;
        }
    }
} 

.study-challenge-solution-container {
    background: #fff;
    
    .study-challenge-solution {
        margin: 4em auto 0;
        padding-bottom: 4em;

        @media screen and (min-width: $query__small) {
            max-width: 1200px;
            margin: 4em auto 0;
        }

        .challenge-solution-intro {
            text-align: center;
            color: $color__site-green;
            font-size: 1.25rem;
            font-weight: 400;
            margin: 0;

            @media screen and (min-width: $query__small) {
                font-size: 1.75rem;
            }

            @media screen and (min-width: $query__medium) {
                font-size: 2.5rem;
            }
        }

        .study-challenge-section {
            margin: 2em 0;

            @media screen and (min-width: $query__small) {
                display: flex;
                align-items: center;
                margin: 4em 0;
            }

            .study-challenge-text {
                padding: 0 1em;
                
                @media screen and (min-width: $query__small) {
                    width: 50%;
                    padding: 0 2em;
                }

                .challenge {
                    font-style: italic;
                    font-size: 1.1rem;

                    @media screen and (min-width: $query__small) {
                        font-size: 1.25rem;
                    }
                }

                .challenge-content {
                    line-height: 1.6;
                }
            }

            .study-challenge-image {

                @media screen and (min-width: $query__small) {
                    width: 50%;
                }

                img {
                    display: block;
                    margin: 2em auto;

                    @media screen and (min-width: $query__small) {
                        margin: 0 auto;
                    }
                }
            }
        }

        .study-solution-section {
            padding: 0 1em;

            @media screen and (min-width: $query__small) {
                max-width: 600px;
                margin: 0 auto;
                padding: 0;
            }

            .solution {
                font-style: italic;
                font-size: 1.1rem;

                @media screen and (min-width: $query__small) {
                    font-size: 1.25rem;
                }
            }

            .solution-content {
                line-height: 1.6;
            }
        }
    }
}

//case study parallax
.postid-810.single-case_studies {

    .site {

        @media screen and (min-width: $query__tablet) {
            @include parallax-init;
        }

        .parallax-img {

            @media screen and (max-width: $query__tablet) {
                background: url( "https://kelcherpromotions.com/wp-content/uploads/2018/05/tribal-gauges-parallax-img.jpg" ) no-repeat center center;
                height: 350px;
                background-size: cover;
            }

            @media screen and (min-width: $query__tablet) {
                @include parallax ( "https://kelcherpromotions.com/wp-content/uploads/2018/05/tribal-gauges-parallax-img.jpg" );
            }
        }
    }
}

.study-brand-images-container {
    background: #fff;
    padding: 0 20px 0;

    @media screen and (min-width: 800px) {
        padding: 0 50px 0;
    }    
    
    .study-brand-images {
        margin: 0 auto;
        padding: 4em 0;
        text-align: center;

        @media screen and (min-width: $query__small) {
            max-width: 1200px;
        }

        img {
            display: inline-block;

            @media screen and (min-width: 800px) {
                width: 46%;
            }

            &:nth-child(2) {
                margin-top: 50px;

                @media screen and (min-width: 800px) {
                    margin-left: 50px;
                    margin-top: 0;
                }
            }
        }
    }
}

.case-study-contact {
    background: #333;
    padding: 50px 1em;
    color: #fff;

    @media screen and (max-width: $query__small) {
        text-align: center;
    }

    .get-in-touch {
        max-width: 1200px;
        margin: 0 auto;

        @media screen and (min-width: $query__small) {
            display: flex;
            align-items: center;
        }

        h4 {
            font-weight: 400;
            font-style: italic;
            font-size: 1.25rem;
            margin: 0;

            @media screen and (min-width: $query__small) {
                font-size: 1.5rem;
            }
        }

        a {
            background: $color__site-green;
            padding: 8px 20px;
            display: inline-block;
            text-decoration: none;
            color: #fff;
            font-size: .75rem;
            font-family: $font__sans;
            border: 2px solid $color__site-green;
            transition: background .25s linear, border-color .25s linear;
            margin: 1em 0;

            @media screen and (min-width: $query__small) {
                padding: 12px 25px;
                font-size: .8rem;
                margin: 0 0 0 auto;
            }

            &:hover,
            &:focus {
                background: transparent;
                border-color: $color__site-green;
                color: $color__site-green;
            }
        }
    }

    .contact-blurb {

        @media screen and (min-width: $query__small) {
            max-width: 1200px;
            margin: 1em auto;
        }
    }
}

.case-study-performance {
    margin: 4em auto;
    text-align: center;
    max-width: 1200px;
    padding: 0 1em;

    h3 {
        color: $color__site-green;
        margin: 0;
    }

    p {
        line-height: 1.6;
        margin: 2em auto;

        @media screen and (min-width: $query__medium) {
            max-width: 900px;
        }
    }

    img {
        display: block;
        margin: 0 auto;
    }
}